{% extends "layout.html.twig" %}

{% block titulo %}{{ titulo }}{% endblock %}
{% block head %}
    <style>
        a, a:active, a:hover {
            margin: 0px 10px;
            text-decoration: none;
            color: #000;
        }
    </style>
{% endblock %}
{% block content %}
    <script>
        function del(id){
            Swal.fire({
                title: 'Você tem certeza?',
                text: "Caso delete esse registro, ele não aparecerá mais na lista de itens na página inicial do sistema.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim',
                cancelButtonText: 'Não'
            }).then((result) => {
                if (result.value) {
                    Swal.fire({
                        title: 'Registro Deletado!',
                        text: 'Pronto. Esse registro não aparecerá mais na listagem da página inicial.',
                        icon: 'success',
                        showConfirmButton: false
                    });
                    $.ajax({
                        type:"GET",
                        url: "/sistema/remove/id={{ sistema.id }}", //url function delete in controller
                        success:function(data){ //when success will reload page after 3 second
                            window.setTimeout( function(){
                                location.href = '/home';
                            }, 3000 );
                        }
                    });
                }
            })
        }
    </script>
    <div class="container px-4 px-lg-5 mt-0">
        {% if sistema.status %}
        <div class="row justify-content-center" style="text-align: right">
            <div class="col-md-12">
                <button type="button" class="btn btn-warning">
                    <a href="/sistema/disable/id={{ sistema.id }}" style="color: #ffffff">
                        <i class="fas fa-minus"></i> Desativar
                    </a>
                </button>
                <button type="button" class="btn btn-danger" onclick="del({{ sistema.id }})">
                    <i class="far fa-trash-alt"></i> Excluir
                </button>
            </div>
        </div>
        {% else %}
            <div class="row justify-content-center" style="text-align: right">
                <div class="col-md-12">
                    <button type="button" class="btn btn-success">
                        <a href="/sistema/enable/id={{ sistema.id }}" style="color: #ffffff">
                            <i class="fas fa-plus"></i> Reativar
                        </a>
                    </button>
                </div>
            </div>
        {% endif %}
        <div class="row justify-content-center">
            {% if sistema.imagePath %}
                <div class="card-body col-md-6">
                    <img src="{{ sistema.imagePath }}" class="image-sistema-view">
                </div>
            {% endif %}
            <div class="card-body col-md-6">
                <dt>ID:</dt>
                <dd>{{ sistema.id }}</dd>
                <dt>NOME:</dt>
                <dd>{{ sistema.nome }}</dd>
                <dt>LINK:</dt>
                <dd>{{ sistema.link }} <a href="{{ sistema.link }}" target="_blank"><i
                                class="fas fa-external-link-alt"></i></a></dd>
                <dt>DESCRIÇÃO:</dt>
                <dd>{{ sistema.descricao }}</dd>
                <dt>STATUS:</dt>
                {% set status = 'danger' %}
                {% if sistema.status %}
                    {% set status = 'success' %}
                {% endif %}
                <dd class="text-{{ status }}">
                    {{ sistema.getStatusToHuman }}
                </dd>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12" style="text-align: right">
                <button type="submit" class="btn btn-primary">
                    <a href="/sistema/edit/id={{ sistema.id }}" style="color: #ffffff">
                        <i class="far fa-edit"></i> Editar
                    </a>
                </button>
                <button type="button" class="btn btn-secondary">
                    <a href="/home/index" style="color: #ffffff"><i class="fas fa-home"></i> Home
                    </a>
                </button>
            </div>
        </div>
    </div>
{% endblock %}
